In [33]:
import numpy as np
import pandas as pd

In [34]:
import sys
sys.path.insert(1, '/Users/pablo/Documents/GitHub/spillover-effects')

import spillover_effects as spef

In [43]:
# Read data
df_cancer = pd.read_csv('Data/cancer.csv')
# We analyze how being treated with an active drug affects survival time (studytime).
df_cancer['pscore'] = 0.5
# We treat the data as if information on survival time were available for only those who died during the study
df_cancer.loc[df_cancer['died'] == 'No', 'studytime'] = np.nan
df_cancer

    studytime died     drug  age  _st  _d  _t  _t0  activedrug  pscore
0         1.0  Yes  Placebo   61    1   1   1    0           0     0.5
1         1.0  Yes  Placebo   65    1   1   1    0           0     0.5
2         2.0  Yes  Placebo   59    1   1   2    0           0     0.5
3         3.0  Yes  Placebo   52    1   1   3    0           0     0.5
4         4.0  Yes  Placebo   56    1   1   4    0           0     0.5
5         4.0  Yes  Placebo   67    1   1   4    0           0     0.5
6         5.0  Yes  Placebo   63    1   1   5    0           0     0.5
7         5.0  Yes  Placebo   58    1   1   5    0           0     0.5
8         8.0  Yes  Placebo   56    1   1   8    0           0     0.5
9         NaN   No  Placebo   58    1   0   8    0           0     0.5
10        8.0  Yes  Placebo   52    1   1   8    0           0     0.5
11        8.0  Yes  Placebo   49    1   1   8    0           0     0.5
12       11.0  Yes  Placebo   50    1   1  11    0           0     0.5
13       11.0  Yes  Placebo   55    1   1  11    0           0     0.5
14       12.0  Yes  Placebo   49    1   1  12    0           0     0.5
15       12.0  Yes  Placebo   62    1   1  12    0           0     0.5
16       15.0  Yes  Placebo   51    1   1  15    0           0     0.5
17       17.0  Yes  Placebo   49    1   1  17    0           0     0.5
18       22.0  Yes  Placebo   57    1   1  22    0           0     0.5
19       23.0  Yes  Placebo   52    1   1  23    0           0     0.5
20        6.0  Yes    Other   67    1   1   6    0           1     0.5
21        NaN   No    Other   65    1   0   6    0           1     0.5
22        7.0  Yes    Other   58    1   1   7    0           1     0.5
23        NaN   No    Other   56    1   0   9    0           1     0.5
24        NaN   No    Other   49    1   0  10    0           1     0.5
25        NaN   No    Other   61    1   0  11    0           1     0.5
26       13.0  Yes    Other   62    1   1  13    0           1     0.5
27        NaN   No    Other   50    1   0  15    0           1     0.5
28       16.0  Yes    Other   67    1   1  16    0           1     0.5
29        NaN   No    Other   50    1   0  19    0           1     0.5
30        NaN   No    Other   55    1   0  20    0           1     0.5
31       22.0  Yes    Other   58    1   1  22    0           1     0.5
32       23.0  Yes    Other   47    1   1  23    0           1     0.5
33        NaN   No    Other   52    1   0  32    0           1     0.5
34        6.0  Yes      NaN   55    1   1   6    0           1     0.5
35       10.0  Yes      NaN   54    1   1  10    0           1     0.5
36        NaN   No      NaN   60    1   0  17    0           1     0.5
37        NaN   No      NaN   49    1   0  19    0           1     0.5
38       24.0  Yes      NaN   58    1   1  24    0           1     0.5
39        NaN   No      NaN   50    1   0  25    0           1     0.5
40       25.0  Yes      NaN   55    1   1  25    0           1     0.5
41       28.0  Yes      NaN   57    1   1  28    0           1     0.5
42        NaN   No      NaN   48    1   0  28    0           1     0.5
43        NaN   No      NaN   56    1   0  32    0           1     0.5
44       33.0  Yes      NaN   60    1   1  33    0           1     0.5
45        NaN   No      NaN   62    1   0  34    0           1     0.5
46        NaN   No      NaN   48    1   0  35    0           1     0.5
47        NaN   No      NaN   52    1   0  39    0           1     0.5

In [44]:
res_wls = spef.WLS(name_y='studytime', name_z='activedrug', name_pscore='pscore',
                   data=df_cancer, contrast='direct')
res_wls.summary

Warning: 17 observations have missing values (17 missing outcomes)

                  coef        se     t-val         p-val     ci-low      ci-up
direct        8.697368  2.966192  2.932166  3.366067e-03   2.883738  14.510999
activedrug0   9.052632  1.478327  6.123566  9.150369e-10   6.155165  11.950099
activedrug1  17.750000  2.571546  6.902463  5.110801e-12  12.709863  22.790137

In [45]:
res_bounds = spef.Bounds(name_y='studytime', name_z='activedrug', name_pscore='pscore',
                         data=df_cancer, contrast='direct')
res_bounds.summary

        lower-bound  upper-bound    ci-low      ci-up
direct        2.375       14.625 -4.689743  20.067052